# Database
DATABASE_URL=

# Backend
PORT=3000
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

# Frontend
PUBLIC_API_URL=http://localhost:3000
PUBLIC_CLERK_PUBLISHABLE_KEY=
PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

GOOGLE_GENERATIVE_AI_API_KEY=
GROQ_API_KEY=