# Dependencies
node_modules

# Build outputs
dist
.output
.build
.svelte-kit

# Env
.env
.env.*
!.env.example
!.env.test

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel
.netlify
.wrangler

# TypeScript
*.tsbuildinfo

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
